.totalCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .label {
        font-size: 1rem;
        font-weight: 700 !important;
      }

      .subTitle {
        font-size: 0.8rem;
      }
    }
  }

  .amount {
    font-size: 1.6rem;
    font-weight: 700 !important;
  }
}
