.footer {
  width: 100%;
  display: flex;
  background-color: #001529;
  padding: 0 2%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  padding: 0 2%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}